In [1]:
import pandas as pd
from IPython.display import display, HTML
import csv

In [2]:
df = pd.read_csv('df2_anonymize.csv')
pd.set_option('max_colwidth', 300)
outDf = pd.DataFrame()

temp_df = df[df.notnull()]

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
list(temp_df.columns.values)

['Unnamed: 0', '1', '2', '3']

In [5]:
temp_df = df.drop(columns=['Unnamed: 0','2','3'])
temp_df.columns = ['Text']

In [6]:
list(temp_df.columns.values)

['Text']

In [7]:
temp_df.head()

                                                                                                                                                                                              Text
0                                                                                            Thanks for letting Quicken Loans help you with your mortgage. A team member will be with you shortly.
1                                       All Mortgage Experts are currently busy. We will be with you as soon as a Team Member is available. You are number 3 in line. Thank you for your patience!
2                                       All Mortgage Experts are currently busy. We will be with you as soon as a Team Member is available. You are number 3 in line. Thank you for your patience!
3
4   For your security, if you would like to close the chat session please click the &quot;X&quot; button on the top right of the chat window.<br /><br />You are now chatting with Bethany Hall.\r

In [9]:


#-------------------------------------------------------------------------------------------------------


filtered_df=temp_df[(temp_df.Text.contains("(?i)down pay", regex=True))|
                     
                       (temp_df.Text.contains("(?i)upfront pay", regex=True))]

AttributeError: 'Series' object has no attribute 'contains'

In [ ]:
display (filtered_df)

In [ ]:
#print the results

df_part = filtered_df.to_frame()
df_part['intent'] = 'QL_down_payment_inquiry'

#df_part['Response'] = ' '

outDf = outDf.append(df_part)

In [ ]:
outDf.rename(columns={'Utterance': 'utterance'}, inplace=True)
outDf.to_csv('down_payment.csv', encoding='utf-8', quoting=csv.QUOTE_ALL, index=False)